In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

%matplotlib notebook

In [4]:
df = pd.read_json('data/yelpreviews_50K.json', lines = True)

In [5]:
df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id
0,-MhfebM0QIsKt87iDN-FNw,0,2015-04-15 05:21:16,0,xQY8N_XvtGbearJ5X4QryQ,2,"As someone who has worked with many museums, I...",5,OwjRMXRC0KyPrIlcjaXeFQ
1,lbrU8StCq3yDfr-QMnGrmQ,0,2013-12-07 03:16:52,1,UmFMZ8PyXZTY2QcwzsfQYA,1,I am actually horrified this place is still in...,1,nIJD_7ZXHq-FX8byPMOkMQ
2,HQl28KMwrEKHqhFrrDqVNQ,0,2015-12-05 03:18:11,0,LG2ZaYiOgpr2DK_90pYjNw,5,I love Deagan's. I do. I really do. The atmosp...,1,V34qejxNsCbcgD8C0HVk-Q
3,5JxlZaqCnk1MnbgRirs40Q,0,2011-05-27 05:30:52,0,i6g_oA9Yf9Y31qt0wibXpw,1,"Dismal, lukewarm, defrosted-tasting ""TexMex"" g...",0,ofKDkJKXSKZXu5xJNGiiBQ
4,IS4cv902ykd8wj1TR0N3-A,0,2017-01-14 21:56:57,0,6TdNDKywdbjoTkizeMce8A,4,"Oh happy day, finally have a Canes near my cas...",0,UgMW8bLE0QMJDCkQ1Ax5Mg

In [6]:
import string
def remove_punctuations(text):
    for punctuation in string.punctuation:
        text = text.replace(punctuation, '')
    return text

In [7]:
df["review_no_punct"] = df['text'].apply(remove_punctuations)

In [8]:
df['review_no_punct']

0        As someone who has worked with many museums I ...
1        I am actually horrified this place is still in...
2        I love Deagans I do I really do The atmosphere...
3        Dismal lukewarm defrostedtasting TexMex glop\n...
4        Oh happy day finally have a Canes near my casa...
5        This is definitely my favorite fast food sub s...
6        Really good place with simple decor amazing fo...
7        Awesome office and staff very professional and...
8        Most delicious authentic Italian Ive had in th...
9        I have been here twice Very nice and laid back...
10       Maria is VERY good at what she does with great...
11       ORDER In Delivery Review\n\nI discovered this ...
12       We purchased new office furniture from this lo...
13       Everything that my husband and I tried today w...
14       Called for a 515 morning reservation The drive...
15       If I could give less than one star that would ...
16       10pm on a super bowl Sunday and theyre already...
17       A close friend was in town and so instead of t...
18       Tried to have my car repaired  Even made an ap...
19       My husband and I go there once a week since la...
20       AMAZING Simply amazing Believe all of the hype...
21       Holy heck this place is amazing I love their c...
22       Coconuts Fish Cafe is a fantastic Five Stars f...
23       I love the classes at this gym Zumba and Radio...
24       As the previous person posted what more can re...
25       In the heart of Chinatown I discovered it enro...
26       Always a fun outing to come for great hot dogs...
27       Was a Chicago style deep dish  Homemade type c...
28       First time eating there and everything was so ...
29       Just not good  We want it to be  we have been ...
                               ...
49970    First time visit and I was very impressed Kind...
49971    NEVER AGAIN  Im pretty sure we just watched a ...
49972    Great friendly service with good suggestions a...
49973    Came here for dinner and were very impressed  ...
49974    My sweettoothed chocoholic travel companion ad...
49975    If I could give more stars I would  hands down...
49976    I LOVE this take on traditional Chinese I brou...
49977    Great steaks and salmon  Always love the potat...
49978    Kam Fung is a place for someone looking to eat...
49979    Great tasting green veggie curry with tofu I h...
49980    Only have been to the movie theatre But you Pi...
49981    I love angry crab and order from here very oft...
49982    Came here with my boyfriend we wanted a late n...
49983    Not bad if i do say so myself Managed to snag ...
49984    I love everything about this place from the ch...
49985    First time getting this type of massage it was...
49986    Fantastic FOOD Great service \nAwesome drinks ...
49987    This place resembles more of a Moroccan Bazar ...
49988    Attended for a wedding and the food was alrigh...
49989    Ive gone there twice once when it first opened...
49990    Lessons for everyon going to DMV in southern N...
49991    They did an AMAZING job with my pedicure I wil...
49992    Sooooooo yooooomy I loveeeeeeee this placeeeee...
49993    My spouse and I wanted a really nice dinner fo...
49994    So good\n\nSo good\n\nLots of vegetarian optio...
49995    There was this cashier thats shit rude and end...
49996    I love pierogis We showed up got a table and w...
49997    An impromptu Sunday night dinner invite from m...
49998    Id give this 35 stars if I could\n\nThe space ...
49999    I have visited this restaurant many times and ...
Name: review_no_punct, Length: 50000, dtype: object

In [9]:
df.head()

,business_id,cool,date,funny,review_id,stars,text,useful,user_id,review_no_punct
0,-MhfebM0QIsKt87iDN-FNw,0,2015-04-15 05:21:16,0,xQY8N_XvtGbearJ5X4QryQ,2,"As someone who has worked with many museums, I...",5,OwjRMXRC0KyPrIlcjaXeFQ,As someone who has worked with many museums I ...
1,lbrU8StCq3yDfr-QMnGrmQ,0,2013-12-07 03:16:52,1,UmFMZ8PyXZTY2QcwzsfQYA,1,I am actually horrified this place is still in...,1,nIJD_7ZXHq-FX8byPMOkMQ,I am actually horrified this place is still in...
2,HQl28KMwrEKHqhFrrDqVNQ,0,2015-12-05 03:18:11,0,LG2ZaYiOgpr2DK_90pYjNw,5,I love Deagan's. I do. I really do. The atmosp...,1,V34qejxNsCbcgD8C0HVk-Q,I love Deagans I do I really do The atmosphere...
3,5JxlZaqCnk1MnbgRirs40Q,0,2011-05-27 05:30:52,0,i6g_oA9Yf9Y31qt0wibXpw,1,"Dismal, lukewarm, defrosted-tasting ""TexMex"" g...",0,ofKDkJKXSKZXu5xJNGiiBQ,Dismal lukewarm defrostedtasting TexMex glop\n...
4,IS4cv902ykd8wj1TR0N3-A,0,2017-01-14 21:56:57,0,6TdNDKywdbjoTkizeMce8A,4,"Oh happy day, finally have a Canes near my cas...",0,UgMW8bLE0QMJDCkQ1Ax5Mg,Oh happy day finally have a Canes near my casa...